<html>
<head>
    <title>Главная</title>
    <style>
        body {
            background-color: #F9F2E3;
        }
        h3{
            color: blue;
            padding: 10px;
        }
    </style>
</head>
<body>
<h3>Прогноз погоды</h3>
<form method="post">
    <p><select name="coordinates">
        <option disabled>Выберите город</option>
        <option selected value="51.5085300,-0.1257400">Лондон(Уимболдон)</option>
        <option value="52.2659400,10.5267300">Брауншвейг(Челленджер)</option>
        <option value="44.4322500,26.1062600">Бухарест(ITF.Бухарест)</option>
        <option value="56.4268900,12.8533900">Бостад(ATP.Бостад)</option>
        <option value="54.6891600,25.2798000">Вильнюс(ITF.Вильнюс)</option>
        <option value="43.9366700,12.4463900">Сан-Марино(Кубок Дэвиса)</option>
    </select></p>
    <p>Дата</p>
    <p><input type="date" name="date"></p>
    <p><input type="submit" value="Показать прогноз"></p>
</form>
<div>
    <h4>{{some}}</h4>
</div>
</body>
</html>